/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'GothamBookRegular';
  src: url("../graphics/fonts/gotham-book-webfont.eot");
  src: url("../graphics/fonts/gotham-book-webfont.eot?#iefix") format("embedded-opentype"), url("../graphics/fonts/gotham-book-webfont.woff") format("woff"), url("../graphics/fonts/gotham-book-webfont.ttf") format("truetype"), url("../graphics/fonts/gotham-book-webfont.svg#GothamBookRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamMediumRegular';
  src: url("../graphics/fonts/gotham-medium-webfont.eot");
  src: url("../graphics/fonts/gotham-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../graphics/fonts/gotham-medium-webfont.woff") format("woff"), url("../graphics/fonts/gotham-medium-webfont.ttf") format("truetype"), url("../graphics/fonts/gotham-medium-webfont.svg#GothamMediumRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamBoldRegular';
  src: url("../graphics/fonts/gotham-bold-webfont.eot");
  src: url("../graphics/fonts/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../graphics/fonts/gotham-bold-webfont.woff") format("woff"), url("../graphics/fonts/gotham-bold-webfont.ttf") format("truetype"), url("../graphics/fonts/gotham-bold-webfont.svg#GothamBoldRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 14px;
  line-height: 21px;
  overflow: hidden; }

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 14px;
  line-height: 21px; }

pre,
code,
kbd,
samp,
tt,
var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace; }

h1 {
  font-size: 28px;
  line-height: 42px;
  font-family: 'GothamMediumRegular';
  font-weight: normal;
  font-style: normal; }

h2 {
  font-size: 21px;
  font-family: 'GothamMediumRegular';
  font-weight: normal;
  font-style: normal; }

h3 {
  font-size: 18px;
  font-family: 'GothamMediumRegular';
  font-weight: normal;
  font-style: normal; }

h4,
h5,
h6 {
  font-size: 16px; }

pre {
  font-size: 15px; }

#sidebar-first {
  background: #fff;
  border-right: 3px solid #dfdfdf;
  width: 35%;
  height: 100%;
  float: left; }
  #sidebar-first .commit {
    width: 94%;
    margin: 20px 3% 0 3%;
    border-bottom: 1px solid #f3f3f3;
    min-height: 60px;
    padding: 0 0 25px 0;
    overflow: hidden; }
    #sidebar-first .commit h2 {
      background: url("../graphics/sprite.png") no-repeat 58px -12px;
      padding: 0 0 0 93px;
      line-height: 20px; }
    #sidebar-first .commit img {
      float: left;
      border-radius: 50%;
      border: 3px solid #dfdfdf;
      margin-right: 10px;
      width: 60px;
      height: 60px; }
    #sidebar-first .commit span {
      font-family: 'GothamMediumRegular';
      font-weight: normal;
      font-style: normal; }
      #sidebar-first .commit span.date {
        color: #0098ca;
        float: right; }
      #sidebar-first .commit span.project {
        color: #959595;
        font-size: 12px; }
    #sidebar-first .commit:after {
      background: url(../graphics/sprite.png) no-repeat;
      content: "";
      position: absolute;
      right: 0px;
      padding: 0 0 30px;
      background-position: 0 -51px; }

#content {
  background: #f3f3f3;
  height: 100%; }
