// $grid-columns: 12;
// $column: golden-ratio(16px, 3);
// $gutter: golden-ratio(16px, 1);
// $max-width: 1100px;

// $visual-grid : true;
// $visual-grid-color: #e0eef7;

$font-size: 14px;
$line-height: $font-size * 1.5;

$header-one: 28px;
$header-two: 21px;
$header-three: 18px;
$header-four: 16px;

$fontSizeOne: 18px;
$fontSizeTwo: 16px;
$fontSizeThree: 14px;

$project-color: #959595;
$title-commit: #282828;
$date-color: #0098ca;
$border-color: #dfdfdf;
$border-commit-color: #f3f3f3;
