@import "reset", "variables", "mixins";

// Import grid asset
@import "Bourbon";
@import "../assets/neat/_neat";

body {
  font-size: $font-size;
  line-height: $line-height;
  overflow: hidden;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
}

pre,
code,
kbd,
samp,
tt,
var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
}

h1 {
  font-size: $header-one;
  line-height: $header-one * 1.5;
  @include GothamRegMed;
}

h2 {
  font-size: $header-two;
  @include GothamRegMed;
}

h3 {
  font-size: $header-three;
  @include GothamRegMed;
}

h4,
h5,
h6 {
  font-size: $header-four;
}

pre {
  font-size: $font-size + 1; // Monospace skrivs ut något mindre
}

//Layout

#sidebar-first {
  background: #fff;
  border-right: 3px solid $border-color;
  width: 35%;
  height: 100%;
  float: left;

  .commit {
    width: 94%;
    margin: 20px 3% 0 3%;
    border-bottom: 1px solid $border-commit-color;
    min-height: 60px;
    padding: 0 0 25px 0;
    overflow: hidden;

    h2 {
      background: url("../graphics/sprite.png") no-repeat 58px -12px;
      padding: 0 0 0 93px;
      line-height: 20px;
    }

    img {
      float: left;
      border-radius: 50%;
      border: 3px solid $border-color;
      margin-right: 10px;
      width: 60px;
      height: 60px;
    }

    span {
      @include GothamRegMed;

      &.date {
        color: $date-color;
        float: right;
      }

      &.project {
        color: $project-color;
        font-size: 12px;  
      }
    }

    &:after {
      background: url(../graphics/sprite.png) no-repeat;
      content: "";
      position: absolute;
      right: 0px;
      padding: 0 0 30px;
      background-position: 0 -51px;
    }
  }
}

#content {
  background: $border-commit-color;
  height: 100%;
}