<div id="sidebar-first" ng-controller="beanstalkCommits">
  <div class="commit" ng-repeat="commit in commits | orderBy:'-time'">
    <span class="date">{{commit.time | date:'HH:mm'}}</span>
    <gravatar-image data-gravatar-email="commit.email" data-gravatar-size="60"></gravatar-image>
    <span class="project"> In: {{commit.repository}}</span>
    <h2>{{commit.message}}</h2>
  </div>
</div>

<div id="content" ng-controller="beanstalkRepositories">
  <div class="project-node" ng-repeat="repository in repositories | orderBy:'-commits'">
    <h2>{{repository.title}}</h2>

    <div class="many-commits">
      <h3><span class="commits">{{repository.commits}}</span> <span class="suffix">Commits</span></h3>
    </div>

    <div class="members">
      <gravatar-image ng-repeat="email in repository.users" data-gravatar-email="email" data-gravatar-size="60"></gravatar-image>
    </div>

  </div>
</div>
