<div id="sidebar-first" ng-controller="beanstalkCommits">
  <div class="commit" ng-repeat="commit in commits">
    <span class="date">{{commit.time}}</span>
    <gravatar-image data-gravatar-email="commit.email" data-gravatar-size="60"></gravatar-image>
    <span class="project"> In: {{commit.repository}}</span>
    <h2>{{commit.message}}</h2>
  </div>
</div>

<div id="content" ng-controller="beanstalkRepositories">
  <div class="project-node" ng-repeat="repository in repositories | orderBy:predicate">
    <h2>{{repository.title}}</h2>

    <div class="members">
      <gravatar-image ng-repeat="email in repository.users" data-gravatar-email="email"></gravatar-image>
    </div>

    <div class="many-commits">
      <h3><span>{{repository.commits}}</span> Commits</h3>
    </div>
  </div>
</div>
